<footer>
  <ul>
    <% if logged_in? %>
      <li>
        <%= link_to "Profile", current_user %>
      </li>
      <li>
        <%= link_to "Users", users_path %>
      </li>
      <li>
        <%= link_to "Logout", logout_path, data: { "turbo-method": :delete } %>
      </li>
    <% end %>
  </ul>
  <small>&copy; 2025 dosaken</small>
</footer>
