<% provide(:title, @user.name) %>
<div class="users-show">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Hz-VBzYHA0k?si=Fx5ZRjnSNQttFH1P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
